html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results-window {
    text-align: center;
}

#waifu {
    width: 10rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2rem;
}

#b0 {grid-column: 2; grid-row: 6;} #b1 {grid-column: 1; grid-row: 5;} #b2 {grid-column: 2; grid-row: 5;} #b3 {grid-column: 3; grid-row: 5;}
#b4 {grid-column: 1; grid-row: 4;} #b5 {grid-column: 2; grid-row: 4;} #b6 {grid-column: 3; grid-row: 4;} #b7 {grid-column: 1; grid-row: 3;}
#b8 {grid-column: 2; grid-row: 3;} #b9 {grid-column: 3; grid-row: 3;} 

#bPl-min {grid-column: 1; grid-row: 6;} #bDec {grid-column: 3; grid-row: 6;} #bEq {grid-column: 4; grid-row: 6;} #bPl {grid-column: 4; grid-row: 5;}
#bSub {grid-column: 4; grid-row: 4;} #bMul {grid-column: 4; grid-row: 3;} #bDiv {grid-column: 4; grid-row: 2;} #bC {grid-column: 4; grid-row: 1;}
#bD {grid-column: 3; grid-row: 2;} #bMod {grid-column: 2; grid-row: 2;} #bExp {grid-column: 1; grid-row: 2;} #bRoot {grid-column: 1; grid-row: 1;} 